/Ejemplo Proyecto/nbproject/private/
/Ejemplos día 3/Ejemplo_GUI/nbproject/private/
/Ejemplos día 3/Ejemplo_GUI/build/
/Ejemplos día 2/nbproject/private/
/Ejemplos día 2/build/
/Ejemplos día 1/nbproject/private/
/Ejemplos día 1/build/